electron laucher/node_modules
electron laucher/app/node_modules
electron laucher/.vscode
.electron laucher\app/dist
.electron laucher\app/build
examples
test
.idea

.idea/inspectionProfiles/Project_Default.xml
electron laucher/microsoftLogin.exe
electron laucher/Python39/
electron laucher/app/dist/
electron laucher/app/build/
electron laucher/app/config/
electron laucher/app/logs/

electron laucher/app/microsoftLogin.exe
electron laucher/installer/app.zip
