.bod {
  background: url('img/test.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  transition: all 0.3s linear;
}

.bod.settings {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/test.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.main {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.main.hides {
  opacity: 0;
}

.wrapper{
  opacity: 1;
  position: fixed;
  top: 90%;
  left: 85%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s linear;

}

.wrapper.hide {
  opacity: 0;

}

.wrapper.show {

  opacity: 1;
}

.link_wrapper{
  position: relative;
}

.link_wrapper{
  display: block;
  width: 240px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: rgb(86, 159, 255);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid rgb(32, 44, 148);
  transition: all .5s;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .5s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all .5s;
}

.link_wrapper:hover{
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

.link_wrapper:active{
  width: 200px;
  border: 3px solid #c72ecc;
  background: transparent;
  color: #2e46cc;
}

.link_wrapper:hover + .icon{
  border: 3px solid #2ecc71;
  right: -25%;
}

.link_wrapper:active + .icon{

  /* set time duration to your needs */

  border: 3px solid #000000;
  right: -200%;
}


.versiong{
  display: block;
  font-family: Impact, Charcoal, sans-serif;
  width: 20%;
  padding: 0.5%;
  position: fixed;
  top: 88%;
  left: 40%;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #ad84f8;
  border-radius: 100px;
  transition: 0.6s;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;

  background-color: #8ec452;
}

.versiong:hover {
  border-radius: 0px;
  top: 87%;
  box-shadow: 0 10px 40px rgba(92, 157, 182, 0.637);

}

.motor{
  display: block;
  width: 20%;
  padding: 0.5%;
  position: fixed;
  top: 88%;
  left: 10%;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #2e4157;
  border-radius: 100px;
  border-color: aquamarine;
  transition: 0.6s;
  background-color: #9ea846;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}


.motor:hover {
  border-radius: 0px;
  top: 87%;
  box-shadow: 0 10px 40px rgba(92, 157, 182, 0.637);
}

.btn-three {
  font-size: 150%;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(130, 199, 204, 0.24);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}
.btn-three:active {
  opacity: 1;
  transform: scale(1,1);
}


.flex-wrapper {

}

.single-chart {
  width: 40%;


}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 200px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.test {
  position: absolute;
  top: 65%;
  right: 15%;
  bottom: 32%;
  left: 15%;
  transition: 0.3s;
  opacity: 0;
  transition: all 0.3s linear;
}

.test.show {
  opacity: 1;
}

.test.hide {
  opacity: 0;
}

.test:hover {
  top: 64%;
  bottom: 31%;
  font-size: 20px;
}

#re {
  color: #ffffff;
  text-align: center;
  
}

#Progress {
  background: rgba(255, 255, 255, 0.322);
  justify-content: flex-start;
  border-radius: 100px;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 75%;
  width: 100%;
}



#progressBar {
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  height: 78%;
  width: 100%;
  background: linear-gradient(45deg, #610000, #642d00, #696800, #1b5e00, #005244, #00105e, #300063, #570044, #5f0000);
  animation: glowing 20s infinite;
  transition: opacity .3s ease-in-out;
  background-size: 400%;
}


@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

#loader {
  opacity: 0;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 76%;
  left: 83%;
  border-radius: 50%;
  perspective: 800px;
  transition: opacity 0.5s linear;
  animation: si 1s linear infinite;
}

#loader.show {
  opacity: 1;
  animation: start 0.5s;
  top: 84% ;

}

#loader.hide {
  opacity: 0;
  top: 76% ;

}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 4px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 4px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 4px solid #EFEFFA;
}

.sett {
  width: 70px;
  position: fixed;
  top: 5%;
  left: 85%;

}

.sett:hover {
  animation:spin 3s;
}

.sett:active {
  animation:spina 0.3s;
}



@keyframes spin { 
  0% {
    transform:rotate(0deg); 
  }
  25% { 
      transform:rotate(100deg); 
  } 
  75% {
    transform:rotate(-100deg); 
  }
  100% {
    transform:rotate(0deg); 
  }
}

@keyframes spina { 
  0% {
    width: 70px;
  }
  100% { 
      width: 50px;
  }

}



@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes si {
  0% {
    size: 150%;
  }
  100% {
    size: 100%;
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes start {
  0% {
    top: 76%;
  }
  100% {
    top: 84%;
  }
}


