body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/test.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.settingsTabHeaderText{
    font-size: 30px;
    font-family: 'Avenir Medium';
    color:aliceblue;
}
.settingsTabHeaderDesc{
    font-size: 20px;
    font-family: 'Avenir Medium';
    color: antiquewhite;
}

#settingsGameResolutionContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    width: 75%;
}
#settingsGameResolutionContent {
    display: flex;
    align-items: center;
    padding-top: 10%;
}
#settingsGameResolutionCross {
    color: rgb(255, 255, 255);
    padding: 0px 10%;
}
#settingsGameWidth,
#settingsGameHeight {
    padding: 7.5px 5px;
    width: 75px;
}

#javain {
    padding: 7.5px 5px;
    width: 100%;
}





#settingsMemoryContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 20px;
}

/* Memory management title. */
#settingsMemoryTitle {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* Memory management content. */
#settingsMemoryContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#settingsMemoryContentLeft {
    width: 69%;
}
#settingsMemoryContentRight {
    display: flex;
    align-items: center;
    margin-right: 10%;
}

/* Header for memory sliders. */
.settingsMemoryHeader {
    font-size: 14px;
}

/* Wrapper container for a memory slider and label. */
.settingsMemoryActionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Label which displays a memory slider's value. */
.settingsMemoryLabel {
    font-size: 14px;
    margin-right: 2%;
}

/* Range sliders for min and max memory settings. */
#settingsMaxRAMRange,
#settingsMinRAMRange {
    width: 85%;
}

/* Memory status elements. */
#settingsMemoryStatus {
    display: flex;
    flex-direction: column;
}
#settingsMemoryStatus > .settingsMemoryStatusContainer:not(:last-child){
    margin-bottom: 50%;
}
.settingsMemoryStatusContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settingsMemoryStatusTitle {
    font-size: 12px;
    color: grey;
    font-weight: bold;
}
.settingsMemoryStatusValue {
    color: lightgrey;
    font-size: 16px;
}

/* Description for memory management. */
#settingsMemoryDesc {
    font-size: 10px;
    margin: 20px 0px;
    color: lightgrey;
    font-weight: bold;
}

/* Status text which displays details on the selected executable. */
#settingsJavaExecDetails {
    font-weight: bold;
    color: grey;
    font-size: 12px;
}

/* Main container for the JVM options setting. */
#settingsJVMOptsContainer {
    width: 75%;
}

/* JVM options title. */
#settingsJVMOptsTitle {
    margin-bottom: 10px;
}

/* Wrapper container for the actionable elements. */
#settingsJVMOptsContent {
    display: flex;
    width: 90%;
}

/* Text field to input the JVM options. */
#settingsJVMOptsVal {
    border-radius: 0px 3px 3px 0px !important;
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
}
#settingsJVMOptsContent:focus-within > .settingsJavaIcon {
    background: rgba(126, 126, 126, 0.87);
}

/* Description for the JVM options setting. */
#settingsJVMOptsDesc {
    font-size: 10px;
    margin: 20px 0px;
    color: lightgrey;
    font-weight: bold;
    width: 89%;
}

.wrapper{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 40%;
}

  
  button{


    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    
    width: 170px;
    height: 40px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 3px solid #8C82FC;
    background: #fff;
    color: #8C82FC;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: all .35s;
  }
  
  button:hover{
    background: #3524eb;
    color: #fff;
  }
  
  button span{
    opacity: 1;
    visibility: visible;
    transition: all .35s;
  }
  
  .success{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .35s;
  }
  
  .success svg{
    width: 20px;
    height: 20px;
    fill: yellowgreen;
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0deg) scale(0);
    transition: all .35s;
  }
  
  button.is_active{
    width: 40px;
    height: 40px;
  }
  
  button.is_active{
    opacity: 1;
    visibility: visible;
  }
  
  button.is_active .success svg{
    margin-top: 50%;
    transform: translateY(-50%) rotate(720deg) scale(1);
  }
  
  button.is_active span{
    opacity: 0;
    visibility: hidden;
  }


